<ion-header>
  <ion-toolbar>
    <ion-title><h1  class="ion-text-center">login</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item lines="full">
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" class="form-control styl" id="Username"  [(ngModel)]="username" required></ion-input>
  </ion-item>

    <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="text" class="form-control styl" id="password"  [(ngModel)]="password" required></ion-input>
  </ion-item>
<ion-row>
  <ion-col>
    <ion-button type="submit" color="danger" expand="block" (click)="signIn()">Sign In</ion-button>
    <a [routerLink]="['/register']" class="small-text">Register?</a>
    
  </ion-col>
</ion-row>

</ion-content>
